# Data preparation

## Database Connection

We used a free service to host our database. The Database is in PostgreSQL.

In [1]:
import json
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

In [2]:
# DB Credentials
with open("../config.json") as config_file:
    config = json.load(config_file)

host = config["db_host"]
user = config["db_user"]
password = config["db_password"]
database = config["db_database"]
schema = config["db_schema"]

In [3]:
connection = psycopg2.connect(
    host=host,
    user=user,
    password=password,
    database=database
)

cursor = connection.cursor()

def execute(query):
    cursor.execute(query)
    connection.commit()
    return cursor.fetchall()

def fetch(query):
    cursor.execute(query)
    return cursor.fetchall()

SELECT = "SELECT * FROM " + schema + "." # + table_name 
INSERT = "INSERT INTO " + schema + "." # + table_name + " VALUES " + values
UPDATE = "UPDATE " + schema + "." # + table_name + " SET " + column_name + " = " + value
DELETE = "DELETE FROM " + schema + "."  # + table_name + " WHERE " + column_name + " = " + value

In [4]:
awards_players = fetch(SELECT + "awards_players") # awards and prizes received by players across 10 seasons,
coaches = fetch(SELECT + "coaches") # all coaches who've managed the teams during the time period,
players = fetch(SELECT + "players") # details of all players,
players_teams = fetch(SELECT + "players_teams") # performance of each player for each team they played,
series_post = fetch(SELECT + "series_post") # series' results,
teams = fetch(SELECT + "teams") # performance of the teams for each season,
teams_post = fetch(SELECT + "teams_post") # results of each team at the post-season.

In [5]:
#save the data in a dataframe
awards_players_df = pd.DataFrame(awards_players, columns=['playerID', 'award', 'year', 'lgID'])
coaches_df = pd.DataFrame(coaches, columns=['coachID', 'year', 'tmID', 'lgID', 'stint', 'won', 'lost', 'post_wins', 'post_losses'])
players_df = pd.DataFrame(players, columns=['bioID', 'pos', 'firstseason', 'lastseason', 'height', 'weight', 'college', 'collegeOther', 'birthDate', 'deathDate'])
players_teams_df = pd.DataFrame(players_teams, columns=['playerID', 'year', 'stint', 'tmID', 'lgID', 'GP', 'GS', 'minutes', 'points', 'oRebounds', 'dRebounds', 'rebounds', 'assists', 'steals', 'blocks', 'turnovers', 'PF', 'fgAttempted', 'fgMade', 'ftAttempted', 'ftMade', 'threeAttempted', 'threeMade', 'dq', 'PostGP', 'PostGS', 'PostMinutes', 'PostPoints', 'PostoRebounds', 'PostdRebounds', 'PostRebounds', 'PostAssists', 'PostSteals', 'PostBlocks', 'PostTurnovers', 'PostPF', 'PostfgAttempted', 'PostfgMade', 'PostftAttempted', 'PostftMade', 'PostthreeAttempted', 'PostthreeMade', 'PostDQ'])
series_post_df = pd.DataFrame(series_post, columns=['year', 'round', 'series', 'tmIDWinner', 'lgIDWinner', 'tmIDLoser', 'lgIDLoser', 'W', 'L'])
teams_df = pd.DataFrame(teams, columns=['year', 'lgID', 'tmID', 'franchID', 'confID', 'divID', 'rank', 'playoff', 'seeded', 'firstRound', 'semis', 'finals', 'name', 'o_fgm', 'o_fga', 'o_ftm', 'o_fta', 'o_3pm', 'o_3pa', 'o_oreb', 'o_dreb', 'o_reb', 'o_asts', 'o_pf', 'o_stl', 'o_to', 'o_blk', 'o_pts', 'd_fgm', 'd_fga', 'd_ftm', 'd_fta', 'd_3pm', 'd_3pa', 'd_oreb', 'd_dreb', 'd_reb', 'd_asts', 'd_pf', 'd_stl', 'd_to', 'd_blk', 'd_pts', 'tmORB', 'tmDRB', 'tmTRB', 'opptmORB', 'opptmDRB', 'opptmTRB', 'won', 'lost', 'GP', 'homeW', 'homeL', 'awayW', 'awayL', 'confW', 'confL', 'min', 'attend', 'arena'])
teams_post_df = pd.DataFrame(teams_post, columns=['year', 'tmID', 'lgID', 'W', 'L'])

#make a dictionary with all the dataframes
dfs = {'awards_players_df': awards_players_df, 'coaches_df': coaches_df, 'players_df': players_df, 'players_teams_df': players_teams_df, 'series_post_df': series_post_df, 'teams_df': teams_df, 'teams_post_df': teams_post_df}

So with that we end our understanding phase.
Our main takeaways are:
- There are dead players in the players table. We should take that into account when doing the analysis.
- There are players that have not played any season of the seasons given. We should take that into account when doing the analysis. There are 338 players that have not played any season.
- There are no Null entries (although there values that are simply an empty string)
- There are some columns with the DataType "object", most of them being strings.
- There are binary objects (like confID and playoff, in the 'teams' table, with the values "Y" or "N") that could be substituted by a binary, as well as ternary objects (like the firstRound, semis and finals in the 'teams' table, with the values "W", "L" or "") that could also be transformed.
- There are players with no position and no college assigned ("").
- There are players with no date of birth in the record (0000-00-00).
- There is the need to do null value uniformization, as there are some columns with empty strings, others with default 0 values and other values that represent null.
- The height and weight variables have default 0 values and should be treated as null values.
- The number of games played by each team differs (there may be teams that are no longer playing), so we can't compare the number of wins and losses directly. Win percentage should be used.
- In terms of win percentage, it seems like a competitive league, with more than half of the teams having a win percentage of 50% or more, taking advantage of the worst teams. There is also just one team below 40% of wins.
- There are teams that are no longer playing.
- There are a lot of highly correlated variables.

## Preparing the data for the model

In this notebook, we will prepare the data for the model. Having done the understanding in the [previous notebook](understanding.ipynb), we will now prepare the data for the model. From the understanding we came to the following conclusions:

So with that we end our understanding phase.
Our main takeaways are:
- There are dead players in the players table. We should take that into account when doing the analysis.
- There are players that have not played any season of the seasons given. We should take that into account when doing the analysis. There are 338 players that have not played any season.
- There are no Null entries (although there values that are simply an empty string)
- There are some columns with the DataType "object", most of them being strings.
- There are binary objects (like confID and playoff, in the 'teams' table, with the values "Y" or "N") that could be substituted by a binary, as well as ternary objects (like the firstRound, semis and finals in the 'teams' table, with the values "W", "L" or "") that could also be transformed.
- There are players with no position and no college assigned ("").
- There are players with no date of birth in the record (0000-00-00).
- There is the need to do null value uniformization, as there are some columns with empty strings, others with default 0 values and other values that represent null.
- The height and weight variables have default 0 values and should be treated as null values.
- The number of games played by each team differs (there may be teams that are no longer playing), so we can't compare the number of wins and losses directly. Win percentage should be used.
- In terms of win percentage, it seems like a competitive league, with more than half of the teams having a win percentage of 50% or more, taking advantage of the worst teams. There is also just one team below 40% of wins.
- There are teams that are no longer playing.
- There are a lot of highly correlated variables.

After considering our takeaways, we will now prepare the data for the model. We will do the following:
- Remove the players that have not played any season, and, if a player died, remove the seasons after the death.
- Transform the binary objects into binary values.
- Transform the ternary objects into binary values. (where the third value is a null value - after the null uniformization these are considered as binary objects too)
- Null uniformization: transform the empty strings and default 0 values into null values.
- Analysis null values: analyze the null values and decide what to do with them.
- Calculate win percentage for each team and add it to the teams table.

We begin by excluding columns that consistently have identical values since they do not contribute any valuable information to the model. However, we will retain the 'first season' and 'last season' of a player, as we intend to populate them with data.

In [6]:
# Drop columns whose values are always the same
for df in dfs:
    for col in dfs[df].columns:
        if len(dfs[df][col].unique()) == 1 and col not in ['firstseason', 'lastseason'] :
            print(df, col)
            dfs[df].drop(col, inplace=True, axis=1)

awards_players_df lgID
coaches_df lgID
players_teams_df lgID
series_post_df lgIDWinner
series_post_df lgIDLoser
teams_df lgID
teams_df divID
teams_df seeded
teams_df tmORB
teams_df tmDRB
teams_df tmTRB
teams_df opptmORB
teams_df opptmDRB
teams_df opptmTRB
teams_post_df lgID

### Null uniformization

We identified the following columns that have null values, but are not identified as such:
- players: height, weight, birthDate, position, college, deathDate
- teams: firstRound, semis, finals

In [7]:
#If date == 00-00-00, replace with null (birthDate and deathDate)

dfs["players_df"]["birthDate"] = dfs["players_df"]["birthDate"].replace('00-00-00', None)
dfs["players_df"]["birthDate"] = dfs["players_df"]["birthDate"].replace('0000-00-00', None)
dfs["players_df"]["deathDate"] = dfs["players_df"]["deathDate"].replace('00-00-00', None)
dfs["players_df"]["deathDate"] = dfs["players_df"]["deathDate"].replace('0000-00-00', None)

# If value == 0, replace with median (height, weight)

dfs["players_df"]["height"].fillna(dfs["players_df"]["height"].mean(), inplace=True)
dfs["players_df"]["weight"].fillna(dfs["players_df"]["weight"].mean(), inplace=True)

# If value == "", replace with null (college, collegeOther, firstRound, semis, finals)

dfs["players_df"]["college"] = dfs["players_df"]["college"].replace('', None)
dfs["players_df"]["collegeOther"] = dfs["players_df"]["collegeOther"].replace('', None)
dfs["teams_df"]["firstRound"] = dfs["teams_df"]["firstRound"].replace('', None)
dfs["teams_df"]["semis"] = dfs["teams_df"]["semis"].replace('', None)
dfs["teams_df"]["finals"] = dfs["teams_df"]["finals"].replace('', None)

dfs["players_df"].head()

,bioID,pos,firstseason,lastseason,height,weight,college,collegeOther,birthDate,deathDate
0,abrahta01w,C,0,0,74.0,190,George Washington,None,1975-09-27,None
1,abrossv01w,F,0,0,74.0,169,Connecticut,None,1980-07-09,None
2,adairje01w,C,0,0,76.0,197,George Washington,None,1986-12-19,None
3,adamsda01w,F-C,0,0,73.0,239,Texas A&M,Jefferson College (JC),1989-02-19,None
4,adamsjo01w,C,0,0,75.0,180,New Mexico,None,1981-05-24,None

### Remove the players that have not played any season

In [8]:
#players that have not played in the last 10 years
players_not_played = fetch("SELECT p.bioid FROM wnba.players p WHERE p.bioid not in (select pt.playerid  from wnba.players_teams pt)")
print("Number of players that haven't played: " + 
      str(len(players_not_played)))

players_not_played_df = pd.DataFrame(players_not_played, columns=['bioID'])

players_not_played_df.head()

Number of players that haven't played: 338

        bioID
0  abrahta01w
1  adairje01w
2  adamsda01w
3  adamsmi01w
4  adubari99w

In [9]:
#Print the number of players that have not played in the last 10 years, and the lenght of the 3 dataframes that contain the playerID
print("Number of players that have not played: ", len(players_not_played_df['bioID'].unique()))
print("-------------------------------------------")
print("Number of values in the players_team_df: ", len(dfs['players_teams_df']['playerID'].unique()))
print("Number of values in the awards_players_df: ", len(dfs['awards_players_df']['playerID'].unique()))
print("Number of values in the players_df: ", len(dfs['players_df']['bioID'].unique()))

#Remove the players that have not played in the last 10 years
for df in dfs:
    if(df == 'players_teams_df' or df == 'awards_players_df'):
        dfs[df] = dfs[df][~dfs[df]['playerID'].isin(players_not_played_df['bioID'])]
    if(df == 'players_df'):
        dfs[df] = dfs[df][~dfs[df]['bioID'].isin(players_not_played_df['bioID'])]

#Print the number of players that have not played in the last 10 years, and the lenght of the 3 dataframes that contain the playerID
print('\n')
print("Number of values in the players_team_df: ", len(dfs['players_teams_df']['playerID'].unique()))
print("Number of values in the awards_players_df: ", len(dfs['awards_players_df']['playerID'].unique()))
print("Number of values in the players_df: ", len(dfs['players_df']['bioID'].unique()))

Number of players that have not played:  338
-------------------------------------------
Number of values in the players_team_df:  555
Number of values in the awards_players_df:  58
Number of values in the players_df:  893


Number of values in the players_team_df:  555
Number of values in the awards_players_df:  51
Number of values in the players_df:  555

Drop Death date as only 4 players have it and it is not relevant for the analysis, as we are not interested in the death date of the players.

In [10]:
dfs["players_df"] = dfs["players_df"].drop('deathDate', axis=1)

Trasnform birthDate into birthYear, so the model can use it for analysis.

In [11]:
# Convert 'birthDate' to datetime if it's not already
dfs["players_df"]['birthDate'] = pd.to_datetime(dfs["players_df"]['birthDate'])

# Create a new 'birthYear' column
dfs["players_df"]['birthYear'] = dfs["players_df"]['birthDate'].dt.year
dfs["players_df"] = dfs["players_df"].drop('birthDate', axis=1)

### Populate first and last seasons of a player in the wnba

As we mentioned before we will populate first and last season of a player in the wnba. We will do this by looking at the seasons table and finding the first and last season of a player. We will then populate the first and last season of a player in the players table.

In [12]:
# Group the players_teams_df by 'playerID' to find the first and last seasons.
first_seasons = dfs['players_teams_df'].groupby('playerID')['year'].min()
last_seasons = dfs['players_teams_df'].groupby('playerID')['year'].max()

# Use .loc to set the values in players_df without the warning.
dfs['players_df'].loc[:, 'firstseason'] = dfs['players_df']['bioID'].map(first_seasons)
dfs['players_df'].loc[:, 'lastseason'] = dfs['players_df']['bioID'].map(last_seasons)

print(dfs['players_df'].head())

         bioID pos  firstseason  lastseason  height  weight  \
1   abrossv01w   F            2           9    74.0     169
4   adamsjo01w   C            4           4    75.0     180
8   aguilel01w   G            3           3    67.0     165
9   ajavoma01w   G            9          10    68.0     160
11  aldrima01w   G            1           2    71.0     153

              college collegeOther  birthYear
1         Connecticut         None       1980
4          New Mexico         None       1981
8   George Washington         None       1976
9             Rutgers         None       1986
11      UNC Charlotte         None       1973

### Transform the binary objects into binary values

In [13]:
#Get all the binary columns from all the dataframes
binary_columns = []
for df in dfs:
    binary_columns = binary_columns + [(df, list(dfs[df].columns[dfs[df].nunique() == 2]))]

#Print the binary columns uniques values
for i in binary_columns:
    if(len(i[1]) < 0):
        continue

    for j in i[1]:
        print("-------")
        print(i[0], j)
        print(dfs[i[0]][j].unique())

-------
series_post_df W
[2 3]
-------
teams_df confID
['EA' 'WE']
-------
teams_df playoff
['N' 'Y']
-------
teams_df firstRound
[None 'L' 'W']
-------
teams_df semis
[None 'W' 'L']
-------
teams_df finals
[None 'L' 'W']
-------
teams_df GP
[34 32]

GP is the number of games played and should also not be converted to binary, as we will need this value to calculate the win percentage. (it is only binary because seasons have been of 32 games or 34 games). The W value in the series_post represents the number of wins a team winned in the playoffs. All the playoffs games are in the best of 3 or 5, so the winning team wins 2 or 3 games.
The other binary values are binary and should be converted to binary.

In [14]:
#Convert the binary columns to 0 and 1 (confID, playoff, firstRound, semis, finals)

columns = ['firstRound', 'semis', 'finals']
for col in columns:
    dfs["teams_df"][col].fillna('NQ', inplace=True)

binary_columns = ["confID", "playoff", "firstRound", "semis", "finals"]

for col in binary_columns:
    dfs["teams_df"][col] = dfs["teams_df"][col].replace('EA', 0)
    dfs["teams_df"][col] = dfs["teams_df"][col].replace('WE', 1)
    dfs["teams_df"][col] = dfs["teams_df"][col].replace('L', 0)
    dfs["teams_df"][col] = dfs["teams_df"][col].replace('W', 1)
    dfs["teams_df"][col] = dfs["teams_df"][col].replace('NQ', -1)
    dfs["teams_df"][col] = dfs["teams_df"][col].replace('N', 0)
    dfs["teams_df"][col] = dfs["teams_df"][col].replace('Y',1)

#change the type of the column to int
for col in binary_columns:
    dfs["teams_df"][col] = dfs["teams_df"][col].astype("Int64")

dfs["teams_df"].head()

,year,tmID,franchID,confID,rank,playoff,firstRound,semis,finals,name,...,GP,homeW,homeL,awayW,awayL,confW,confL,min,attend,arena
0,9,ATL,ATL,0,7,0,-1,-1,-1,Atlanta Dream,...,34,1,16,3,14,2,18,6825,141379,Philips Arena
1,10,ATL,ATL,0,2,1,0,-1,-1,Atlanta Dream,...,34,12,5,6,11,10,12,6950,120737,Philips Arena
2,1,CHA,CHA,0,8,0,-1,-1,-1,Charlotte Sting,...,32,5,11,3,13,5,16,6475,90963,Charlotte Coliseum
3,2,CHA,CHA,0,4,1,1,1,0,Charlotte Sting,...,32,11,5,7,9,15,6,6500,105525,Charlotte Coliseum
4,3,CHA,CHA,0,2,1,0,-1,-1,Charlotte Sting,...,32,11,5,7,9,12,9,6450,106670,Charlotte Coliseum

### Calculate win percentage

For each team, we want to calculate the following:
- Win percentage
- Loss percentage
- Wins at home percentage
- Losses at home percentage
- Wins away percentage
- Losses away percentage
- Conference wins percentage
- Conference losses percentage

In [15]:
#Calculate win percentage, loss percentage, wins at home percentage, losses at home percentage, wins away percentage, losses away percentage, wins at conference percentage, losses at conference percentage

dfs["teams_df"]["win_percentage"] = dfs["teams_df"]["won"] / (dfs["teams_df"]["won"] + dfs["teams_df"]["lost"])
dfs["teams_df"]["loss_percentage"] = dfs["teams_df"]["lost"] / (dfs["teams_df"]["won"] + dfs["teams_df"]["lost"])
dfs["teams_df"]["home_win_percentage"] = dfs["teams_df"]["homeW"] / (dfs["teams_df"]["homeW"] + dfs["teams_df"]["homeL"])
dfs["teams_df"]["home_loss_percentage"] = dfs["teams_df"]["homeL"] / (dfs["teams_df"]["homeW"] + dfs["teams_df"]["homeL"])
dfs["teams_df"]["away_win_percentage"] = dfs["teams_df"]["awayW"] / (dfs["teams_df"]["awayW"] + dfs["teams_df"]["awayL"])
dfs["teams_df"]["away_loss_percentage"] = dfs["teams_df"]["awayL"] / (dfs["teams_df"]["awayW"] + dfs["teams_df"]["awayL"])
dfs["teams_df"]["conference_win_percentage"] = dfs["teams_df"]["confW"] / (dfs["teams_df"]["confW"] + dfs["teams_df"]["confL"])
dfs["teams_df"]["conference_loss_percentage"] = dfs["teams_df"]["confL"] / (dfs["teams_df"]["confW"] + dfs["teams_df"]["confL"])

#Drop the columns that are not needed anymore
dfs["teams_df"] = dfs["teams_df"].drop(columns=['won', 'lost', 'homeW', 'homeL', 'awayW', 'awayL', 'confW', 'confL'])

## Data Preparation on players

### Position Uniformization

From the list below we can see that there are 7 different positions. We will uniformize the positions to the following:
- Guard (G)
- Forward (F)
- Center (C)
- Guard-Forward (G-F)
- Forward-Center (F-C)

But, as we can see from the distinct positions, we have 2 more positions that are not in the list above. These are:
(C-F) and (F-G). We will uniformize these positions to the ones above.

In [16]:
unique_positions = dfs['players_df']['pos'].unique()
print(unique_positions)

# Define specific_position_mapping
specific_position_mapping = {
    'F-G': 'G-F',
    'C-F': 'F-C'
}

# Use .loc to update the 'pos' column in players_df
dfs['players_df'].loc[:, 'pos'] = dfs['players_df'].loc[:, 'pos'].replace(specific_position_mapping)

# Check the unique values after mapping
print("After mapping")
unique_positions = dfs['players_df']['pos'].unique()
print(unique_positions)

['F' 'C' 'G' 'F-G' 'G-F' 'F-C' 'C-F']
After mapping
['F' 'C' 'G' 'G-F' 'F-C']

### Feature engineering

We will now prepare the data for the players table. We will do the following:
- Feature engineering: create a column with the number of seasons a player played in the wnba.

In [17]:
dfs['players_df'].loc[:, 'num_seasons'] = dfs['players_df']['lastseason'] - dfs['players_df']['firstseason'] + 1
dfs['players_df'] = dfs['players_df'].drop(columns=['firstseason', 'lastseason'])

dfs['players_df'].head()

,bioID,pos,height,weight,college,collegeOther,birthYear,num_seasons
1,abrossv01w,F,74.0,169,Connecticut,None,1980,8
4,adamsjo01w,C,75.0,180,New Mexico,None,1981,1
8,aguilel01w,G,67.0,165,George Washington,None,1976,1
9,ajavoma01w,G,68.0,160,Rutgers,None,1986,2
11,aldrima01w,G,71.0,153,UNC Charlotte,None,1973,2

- Total Points in the season
- Total Rebounds in the season
- Total Assists in the season
- Total Steals in the season
- Total Turnovers in the season
- Total Goal Percentage in the season
- Total Three Point Percentage in the season
- Total Free Throw Percentage in the season

Group by 'playerID', 'year' and add the stats from the many stints, keep the last team played for in the season.

In [18]:
# Group by 'playerID' and 'year', sum the stats, and keep the last 'teamID'
df_grouped = dfs["players_teams_df"].groupby(['playerID', 'year']).agg({**{col: 'sum' for col in dfs["players_teams_df"].columns if col not in ['playerID', 'year', 'tmID']}, **{'tmID': 'last'}}).reset_index()

In [19]:
dfs["players_teams_df"]["total_points"] = (
    dfs["players_teams_df"]["points"] + dfs["players_teams_df"]["PostPoints"]
)
dfs["players_teams_df"]["total_rebounds"] = (
    dfs["players_teams_df"]["rebounds"] + dfs["players_teams_df"]["PostRebounds"]
)
dfs["players_teams_df"]["total_assists"] = (
    dfs["players_teams_df"]["assists"] + dfs["players_teams_df"]["PostAssists"]
)
dfs["players_teams_df"]["total_blocks"] = (
    dfs["players_teams_df"]["blocks"] + dfs["players_teams_df"]["PostBlocks"]
)
dfs["players_teams_df"]["total_steals"] = (
    dfs["players_teams_df"]["steals"] + dfs["players_teams_df"]["PostSteals"]
)
dfs["players_teams_df"]["total_turnovers"] = (
    dfs["players_teams_df"]["turnovers"] + dfs["players_teams_df"]["PostTurnovers"]
)
dfs["players_teams_df"]["FG%"] = (
    dfs["players_teams_df"]["fgMade"] + dfs["players_teams_df"]["PostfgMade"]
) / (
    dfs["players_teams_df"]["fgAttempted"] + dfs["players_teams_df"]["PostfgAttempted"]
)
dfs["players_teams_df"]["FT%"] = (
    dfs["players_teams_df"]["ftMade"] + dfs["players_teams_df"]["PostftMade"]
) / (
    dfs["players_teams_df"]["ftAttempted"] + dfs["players_teams_df"]["PostftAttempted"]
)
dfs["players_teams_df"]["FG%"].fillna(0, inplace=True)
dfs["players_teams_df"]["FT%"].fillna(0, inplace=True)

# Create a new 'award' column
dfs["players_teams_df"]['award'] = dfs["players_teams_df"].set_index(['playerID', 'year']).index.isin(dfs["awards_players_df"].groupby(['playerID', 'year']).any().index).astype(int)

# Average Stats
dfs["players_teams_df"]["Avg_Points_Per_Game"] = (
    dfs["players_teams_df"]["total_points"] / dfs["players_teams_df"]["GP"]
)
dfs["players_teams_df"]["Avg_Rebounds_Per_Game"] = (
    dfs["players_teams_df"]["total_rebounds"] / dfs["players_teams_df"]["GP"]
)
dfs["players_teams_df"]["Avg_Assists_Per_Game"] = (
    dfs["players_teams_df"]["total_assists"] / dfs["players_teams_df"]["GP"]
)
dfs["players_teams_df"]["Avg_Blocks_Per_Game"] = (
    dfs["players_teams_df"]["total_blocks"] / dfs["players_teams_df"]["GP"]
)
dfs["players_teams_df"]["Avg_Steals_Per_Game"] = (
    dfs["players_teams_df"]["total_steals"] / dfs["players_teams_df"]["GP"]
)
dfs["players_teams_df"]["Avg_Turnovers_Per_Game"] = (
    dfs["players_teams_df"]["total_turnovers"] / dfs["players_teams_df"]["GP"]
)

# Durability Ratio (Check if this is correct)
dfs["players_teams_df"]["Usability"] = (
    dfs["players_teams_df"]["minutes"]
) / (dfs["players_teams_df"]["GP"] * 40)

# Get the player position from dfs['players']['pos'], match ['bioid'] to ['playerID'] in dfs['players_teams_df']
position_mapping = dfs["players_df"].set_index("bioID")["pos"]
dfs["players_teams_df"]["pos"] = dfs["players_teams_df"]["playerID"].map(
    position_mapping
)


# Define a dictionary of position-specific metrics
position_metrics = {
    "G": "AST_TO_RATIO",
    "F": "REBOUND_EFFICIENCY",
    "G-F": "3P_SHOOTING_PERCENT",
    "C": "BLOCK_EFFICIENCY",
    "F-C": "SCORING_EFFICIENCY",
}

# Calculate position-specific metrics and update the DataFrame
for position, metric in position_metrics.items():
    position_df = dfs["players_teams_df"][dfs["players_teams_df"]["pos"] == position]
    dfs["players_teams_df"][metric] = position_df.apply(
        lambda row: row["assists"] / row["turnovers"]
        if metric == "AST_TO_RATIO" and row["turnovers"] != 0
        else (row["oRebounds"] + row["dRebounds"]) / row["GP"]
        if metric == "REBOUND_EFFICIENCY" and row["GP"] != 0
        else row["threeMade"] / row["threeAttempted"]
        if metric == "3P_SHOOTING_PERCENT" and row["threeAttempted"] != 0
        else row["blocks"] / row["GP"]
        if metric == "BLOCK_EFFICIENCY" and row["GP"] != 0
        else row["points"] / row["fgAttempted"]
        if metric == "SCORING_EFFICIENCY" and row["fgAttempted"] != 0
        else None,
        axis=1,
    )

    # Normalize the metric
    scaler = MinMaxScaler()
    dfs["players_teams_df"][[metric]] = scaler.fit_transform(dfs["players_teams_df"][[metric]])


# Join the position-specific metrics to the one column in dfs['players_teams_df']
def extract_first_non_null(row):
    for column in list(position_metrics.values()):
        if not pd.isnull(row[column]):
            return row[column]
    return None
dfs["players_teams_df"]["POSITION_METRIC"] = dfs["players_teams_df"].apply(
    extract_first_non_null, axis=1
)
dfs["players_teams_df"].drop(columns=list(position_metrics.values()), inplace=True)


nulls_in_position_metric = dfs["players_teams_df"]["POSITION_METRIC"].isnull().sum()
print(f"Number of null values in POSITION_METRIC due to having 0 at position caracteristic: {nulls_in_position_metric}")
dfs['players_teams_df']['POSITION_METRIC'].fillna(0, inplace=True)

# Get columns that start with 'Post'
post_columns = dfs['players_teams_df'].filter(like='Post').columns
# Drop these columns
dfs['players_teams_df'] = dfs['players_teams_df'].drop(columns=post_columns)

dfs["players_teams_df"].columns
dfs["players_teams_df"].head()

Number of null values in POSITION_METRIC due to having 0 at position caracteristic: 38

,playerID,year,stint,tmID,GP,GS,minutes,points,oRebounds,dRebounds,...,award,Avg_Points_Per_Game,Avg_Rebounds_Per_Game,Avg_Assists_Per_Game,Avg_Blocks_Per_Game,Avg_Steals_Per_Game,Avg_Turnovers_Per_Game,Usability,pos,POSITION_METRIC
0,abrossv01w,2,0,MIN,26,23,846,343,43,131,...,0,13.192308,6.692308,2.038462,0.346154,1.615385,3.269231,0.813462,F,0.576923
1,abrossv01w,3,0,MIN,27,27,805,314,45,101,...,0,11.629630,5.407407,2.222222,0.370370,1.555556,3.407407,0.745370,F,0.466156
2,abrossv01w,4,0,MIN,30,25,792,318,44,97,...,0,11.366667,4.866667,2.866667,0.400000,1.600000,3.266667,0.660000,F,0.405172
3,abrossv01w,5,0,MIN,22,11,462,146,17,57,...,0,7.545455,3.772727,2.181818,0.181818,1.409091,2.090909,0.525000,F,0.289969
4,abrossv01w,6,0,MIN,31,31,777,304,29,78,...,0,9.806452,3.451613,1.935484,0.193548,1.548387,2.580645,0.626613,F,0.297553

### Check correlation

We will remove the most correlated variables, as they do not add any value to the model.

In [20]:
MAX_CORRELATION = 0.8

In [21]:
# Add column to indicate if the player went to the playoffs to look for correlations
def went_to_playoff(df, dfs):
    returned_df = df.copy()
    
    playoff_data = dfs['teams_df'][['tmID', 'year', 'playoff']]

    returned_df = returned_df.merge(playoff_data, on=['tmID', 'year'], how='left')
    
    return returned_df

def delete_most_correlated(df):
    df_copy = df.copy()

    correlation_matrix = df_copy.corr()

    sorted_correlations = correlation_matrix.unstack().sort_values(ascending=False)

    plt.figure(figsize=(20, 20))
    sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
    plt.show()

    # Get the pairs of attributes with the highest correlation values
    most_correlated_pairs = sorted_correlations[sorted_correlations > MAX_CORRELATION]
    most_correlated_pairs = most_correlated_pairs[most_correlated_pairs < 1.0]


    #delete repeated pairs (e.g. (a,b) and (b,a))
    most_correlated_pairs = most_correlated_pairs[::2]
    print(most_correlated_pairs)

    # Drop the attributes with the highest correlation values
    for pair in most_correlated_pairs.index:
        if 'Usability' not in pair and 'year' not in pair:
            if pair[0] in df_copy.columns:
                df_copy.drop(pair[0], inplace=True, axis=1)

    return df_copy

In [22]:
for df in dfs:
    print(df)
    if 'players_teams_df' in df:
        dfs[df] = went_to_playoff(dfs[df], dfs)

    #select only the numerical columns
    # new_df = delete_most_correlated(dfs[df].select_dtypes(include=np.number))
    new_df = dfs[df].select_dtypes(include=np.number)
    #merge new_df with the categorical columns
    print(new_df)
    dfs[df] = new_df.merge(dfs[df].select_dtypes(exclude=np.number), left_index=True, right_index=True)

awards_players_df
    year
0      1
1      2
2      3
3      4
4      6
..   ...
90     7
91     7
92     7
93     7
94     7

[86 rows x 1 columns]
coaches_df
     year  stint  won  lost  post_wins  post_losses
0       5      0   17    17          1            2
1       1      0   20    12          4            3
2       2      0   21    11          3            3
3       3      0   18    14          4            4
4       4      0   16    18          0            0
..    ...    ...  ...   ...        ...          ...
157     6      0   21    13          2            2
158     7      0   21    13          0            2
159     8      0   21    13          3            3
160     8      0   10    24          0            0
161     9      0   16    18          0            0

[162 rows x 6 columns]
players_df
     height  weight  birthYear  num_seasons
1      74.0     169       1980            8
4      75.0     180       1981            1
8      67.0     165       1976            1
9      68.0     160       1986            2
11     71.0     153       1973            2
..      ...     ...        ...          ...
886    78.0     174       1977            3
887    70.0     146       1976            1
888    70.0     155       1986            1
891    69.0     145       1980            1
892    67.0     148       1986            1

[555 rows x 4 columns]
players_teams_df
      year  stint  GP  GS  minutes  points  oRebounds  dRebounds  rebounds  \
0        2      0  26  23      846     343         43        131       174
1        3      0  27  27      805     314         45        101       146
2        4      0  30  25      792     318         44         97       141
3        5      0  22  11      462     146         17         57        74
4        6      0  31  31      777     304         29         78       107
...    ...    ...  ..  ..      ...     ...        ...        ...       ...
1871     3      2   5   0       37       6          0          3         3
1872     6      0  34   4      413      90         11         28        39
1873    10      0  34   4      802     406         25         81       106
1874     4      0   6   0       30      11          0          2         2
1875     9      0   6   0       30      10          1          2         3

      assists  ...  award  Avg_Points_Per_Game  Avg_Rebounds_Per_Game  \
0          53  ...      0            13.192308               6.692308
1          60  ...      0            11.629630               5.407407
2          82  ...      0            11.366667               4.866667
3          45  ...      0             7.545455               3.772727
4          60  ...      0             9.806452               3.451613
...       ...  ...    ...                  ...                    ...
1871        0  ...      0             1.200000               0.600000
1872       51  ...      0             2.970588               1.147059
1873       62  ...      0            14.235294               3.852941
1874        1  ...      0             1.833333               0.333333
1875        3  ...      0             1.666667               0.500000

      Avg_Assists_Per_Game  Avg_Blocks_Per_Game  Avg_Steals_Per_Game  \
0                 2.038462             0.346154             1.615385
1                 2.222222             0.370370             1.555556
2                 2.866667             0.400000             1.600000
3                 2.181818             0.181818             1.409091
4                 1.935484             0.193548             1.548387
...                    ...                  ...                  ...
1871              0.000000             0.000000             0.000000
1872              1.558824             0.029412             0.470588
1873              2.235294             0.588235             0.970588
1874              0.166667             0.000000             0.000000
1875              0.500000             0.000000             0.166667

      Avg_Turnovers_Per_Game  Usability  POSITION_METRIC  playoff
0                   3.269231   0.813462         0.576923        0
1                   3.407407   0.745370         0.466156        0
2                   3.266667   0.660000         0.405172        1
3                   2.090909   0.525000         0.289969        1
4                   2.580645   0.626613         0.297553        0
...                      ...        ...              ...      ...
1871                0.800000   0.185000         0.000000        0
1872                1.352941   0.303676         0.226164        1
1873                2.470588   0.589706         0.146399        1
1874                0.333333   0.125000         0.090909        0
1875                0.500000   0.125000         0.181818        0

[1876 rows x 39 columns]
series_post_df
    year  W  L
0      1  2  1
1      1  2  0
2      1  2  0
3      1  2  0
4      1  2  0
..   ... .. ..
65    10  2  0
66    10  2  0
67    10  2  1
68    10  2  1
69    10  3  2

[70 rows x 3 columns]
teams_df
     year  confID  rank  playoff  firstRound  semis  finals  o_fgm  o_fga  \
0       9       0     7        0          -1     -1      -1    895   2258
1      10       0     2        1           0     -1      -1   1089   2428
2       1       0     8        0          -1     -1      -1    812   1903
3       2       0     4        1           1      1       0    746   1780
4       3       0     2        1           0     -1      -1    770   1790
..    ...     ...   ...      ...         ...    ...     ...    ...    ...
137     6       0     5        0          -1     -1      -1    847   1968
138     7       0     4        1           0     -1      -1   1016   2199
139     8       0     5        0          -1     -1      -1    877   2170
140     9       0     6        0          -1     -1      -1    885   2131
141    10       0     4        1           0     -1      -1    933   2205

     o_ftm  ...   min  attend  win_percentage  loss_percentage  \
0      542  ...  6825  141379        0.117647         0.882353
1      569  ...  6950  120737        0.529412         0.470588
2      431  ...  6475   90963        0.250000         0.750000
3      410  ...  6500  105525        0.562500         0.437500
4      490  ...  6450  106670        0.562500         0.437500
..     ...  ...   ...     ...             ...              ...
137    388  ...  6900  171501        0.470588         0.529412
138    528  ...  6850  133255        0.529412         0.470588
139    668  ...  6900  133255        0.470588         0.529412
140    435  ...  6825  154637        0.294118         0.705882
141    580  ...  6875  192747        0.470588         0.529412

     home_win_percentage  home_loss_percentage  away_win_percentage  \
0               0.058824              0.941176             0.176471
1               0.705882              0.294118             0.352941
2               0.312500              0.687500             0.187500
3               0.687500              0.312500             0.437500
4               0.687500              0.312500             0.437500
..                   ...                   ...                  ...
137             0.588235              0.411765             0.352941
138             0.764706              0.235294             0.294118
139             0.470588              0.529412             0.470588
140             0.352941              0.647059             0.235294
141             0.647059              0.352941             0.294118

     away_loss_percentage  conference_win_percentage  \
0                0.823529                   0.100000
1                0.647059                   0.454545
2                0.812500                   0.238095
3                0.562500                   0.714286
4                0.562500                   0.571429
..                    ...                        ...
137              0.647059                   0.450000
138              0.705882                   0.600000
139              0.529412                   0.400000
140              0.764706                   0.300000
141              0.705882                   0.454545

     conference_loss_percentage
0                      0.900000
1                      0.545455
2                      0.761905
3                      0.285714
4                      0.428571
..                          ...
137                    0.550000
138                    0.400000
139                    0.600000
140                    0.700000
141                    0.545455

[142 rows x 48 columns]
teams_post_df
    year  W  L
0      1  6  0
1      1  1  2
2      1  3  3
3      1  0  2
4      1  4  3
..   ... .. ..
75    10  1  2
76    10  7  4
77    10  1  2
78    10  3  3
79    10  0  2

[80 rows x 3 columns]

### Remove categorical variables

There are several categorical variables that we will remove from the model, as they do not add any value to the model.

In [23]:
#remove categorical columns from team_df that are not needed 
#franchID, name, arena

dfs['teams_df'] = dfs['teams_df'].drop(columns=['name', 'arena'])

Some teams changed their names, but they maintained the same Franchise ID. We will map the teams to their Franchise ID and replace the team ID with the Franchise ID.

In [24]:

# Iterate over each row in the DataFrame
def franchise_mapping(teams_df, dfs):
    team_franchise_mapping = {}
    for index, row in teams_df.iterrows():
        # Extract team and franchise IDs from the current row
        team_id = row['tmID']
        franchise_id = row['franchID']

        # Check if the team ID is not already in the mapping dictionary
        if team_id not in team_franchise_mapping:
            # Add the team ID and its corresponding franchise ID to the mapping
            team_franchise_mapping[team_id] = franchise_id

    # Now, team_franchise_mapping contains the mapping between team IDs and franchise IDs
    print(team_franchise_mapping)

    for df_name, df in dfs.items():
        # Check if 'tmID' is a column in the current DataFrame
        if 'tmID' in df.columns:
            # Replace team IDs with franchise IDs using the mapping
            df['tmID'] = df['tmID'].map(team_franchise_mapping)
        if 'franchID' in df.columns:
            # Drop the 'franchID' column
            df.drop(columns=['franchID'], inplace=True)
        
franchise_mapping(dfs['teams_df'], dfs)

{'ATL': 'ATL', 'CHA': 'CHA', 'CHI': 'CHI', 'CLE': 'CLE', 'CON': 'CON', 'DET': 'DET', 'HOU': 'HOU', 'IND': 'IND', 'LAS': 'LAS', 'MIA': 'MIA', 'MIN': 'MIN', 'NYL': 'NYL', 'ORL': 'CON', 'PHO': 'PHO', 'POR': 'POR', 'SAC': 'SAC', 'SAS': 'SAS', 'SEA': 'SEA', 'UTA': 'SAS', 'WAS': 'WAS'}

### Normalization and Standardization

In [25]:
# for the numeric columns in players_teams_df verify if they follow gaussian distribution
for col in dfs['teams_df'].select_dtypes(include=np.number).columns:
    # Check if the column has 'NA' values
    if 'NA' in dfs['teams_df'][col].unique():
        print(f"Skipping {col} due to 'NA' values")
        continue

    # Evaluate if the column follows a Gaussian distribution
    statistics, p_value = stats.shapiro(dfs['teams_df'][col].dropna())  # Drop 'NA' values for the test
    alpha = 0.05
    if p_value > alpha:
        print('{} follows a Gaussian distribution'.format(col))
    else:
        print('{} does not follow a Gaussian distribution'.format(col))

year does not follow a Gaussian distribution
confID does not follow a Gaussian distribution
rank does not follow a Gaussian distribution
playoff does not follow a Gaussian distribution
firstRound does not follow a Gaussian distribution
semis does not follow a Gaussian distribution
finals does not follow a Gaussian distribution
o_fgm follows a Gaussian distribution
o_fga does not follow a Gaussian distribution
o_ftm follows a Gaussian distribution
o_fta follows a Gaussian distribution
o_3pm follows a Gaussian distribution
o_3pa follows a Gaussian distribution
o_oreb follows a Gaussian distribution
o_dreb follows a Gaussian distribution
o_reb follows a Gaussian distribution
o_asts follows a Gaussian distribution
o_pf follows a Gaussian distribution
o_stl follows a Gaussian distribution
o_to does not follow a Gaussian distribution
o_blk does not follow a Gaussian distribution
o_pts does not follow a Gaussian distribution
d_fgm follows a Gaussian distribution
d_fga does not follow a Gaussian distribution
d_ftm follows a Gaussian distribution
d_fta follows a Gaussian distribution
d_3pm does not follow a Gaussian distribution
d_3pa does not follow a Gaussian distribution
d_oreb does not follow a Gaussian distribution
d_dreb does not follow a Gaussian distribution
d_reb does not follow a Gaussian distribution
d_asts follows a Gaussian distribution
d_pf follows a Gaussian distribution
d_stl follows a Gaussian distribution
d_to follows a Gaussian distribution
d_blk follows a Gaussian distribution
d_pts follows a Gaussian distribution
GP does not follow a Gaussian distribution
min does not follow a Gaussian distribution
attend does not follow a Gaussian distribution
win_percentage follows a Gaussian distribution
loss_percentage follows a Gaussian distribution
home_win_percentage does not follow a Gaussian distribution
home_loss_percentage does not follow a Gaussian distribution
away_win_percentage does not follow a Gaussian distribution
away_loss_percentage does not follow a Gaussian distribution
conference_win_percentage follows a Gaussian distribution
conference_loss_percentage follows a Gaussian distribution

There are no Gaussian distributions in the numeric columns of the players_teams_df, so we will only apply linear normalizations between 0 and 1.
But there are such cases in the teams_df. NOT YET NORMALIZED

In [26]:
# for the numeric columns in players_teams_df apply linear normalization between 0 and 1
for col in dfs['teams_df'].select_dtypes(include=np.number).columns:
    if col not in ['year', 'confID', 'playoff']:
        aux = (dfs['teams_df'][col] - dfs['teams_df'][col].min()) / (dfs['teams_df'][col].max() - dfs['teams_df'][col].min())
        dfs['teams_df'][col] = aux.round(3)

# store in csv in prep_data with 2 appended to the name
# dfs['teams_df'].to_csv('../prep_data/teams_df2.csv', index=False)

### Saving the data

In [27]:
#saving the tables in a csv file, inside the prep_data folder
for df in dfs:
    dfs[df].to_csv('../prep_data/' + df + '.csv', index=False)

## Merge information into a single table

Insights on merging tables:
- teams with teams_post, some values are NaN when the team didn't participate in the playoffs
- players with players_teams, some values are NaN when the player didn't participate in any team, remove such cases?
- awards with players
- number of trophies won by each team in each season

- more ideas...
- create a score for each player's performance in each season and then aggregate it to the team's performance in each season?
- Is series_post relevant?

In [28]:
teams_post_df = dfs['teams_post_df'].rename(columns={'W': 'W_post', 'L': 'L_post'})
dfs['teams_df'] = dfs['teams_df'].merge(teams_post_df, on=['tmID', 'year'], how='left')

dfs['teams_df'].head()

# to csv
# dfs['teams_df'].to_csv('teams_df_merge_with_post.csv', index=False)

,year,confID,rank,playoff,firstRound,semis,finals,o_fgm,o_fga,o_ftm,...,loss_percentage,home_win_percentage,home_loss_percentage,away_win_percentage,away_loss_percentage,conference_win_percentage,conference_loss_percentage,tmID,W_post,L_post
0,9,0,0.857,0,0.0,0.0,0.0,0.516,0.695,0.624,...,1.000,0.000,1.000,0.156,0.844,0.000,1.000,ATL,NaN,NaN
1,10,0,0.143,1,0.5,0.0,0.0,0.919,0.923,0.704,...,0.456,0.688,0.312,0.390,0.610,0.441,0.559,ATL,0.0,2.0
2,1,0,1.000,0,0.0,0.0,0.0,0.343,0.219,0.293,...,0.825,0.270,0.730,0.171,0.829,0.172,0.828,CHA,NaN,NaN
3,2,0,0.429,1,1.0,1.0,0.5,0.206,0.054,0.230,...,0.413,0.668,0.332,0.502,0.498,0.763,0.237,CHA,4.0,4.0
4,3,0,0.143,1,0.5,0.0,0.0,0.256,0.067,0.469,...,0.413,0.668,0.332,0.502,0.498,0.586,0.414,CHA,0.0,2.0

In [29]:
# join players (bioID) with players_teams (playerID)
players_df  = dfs['players_df'].rename(columns={'bioID': 'playerID'})
players_teams_df = players_teams_df.merge(players_df, on=['playerID'], how='left')

# to csv
dfs['players_teams_df'].to_csv('../prep_data/players_df_merge_with_players_teams.csv', index=False)

In [30]:
# Assuming you have already imported players_df and teams_df
teams_df2 = dfs['teams_df'].copy()

# Iterate over each column in players_df
numeric_columns = dfs['players_teams_df'].select_dtypes(include=np.number).columns
exclude_columns = {'year', 'tmID', 'lgID', 'playerID', 'firstseason', 'lastseason', 'playoff', 'num_seasons', 'stint', 'GP', 'threeMade', 'dq', 'PostBlocks', 'PostthreeMade', 'PostDQ'}
numeric_columns = [col for col in numeric_columns if col not in exclude_columns]

for col in numeric_columns:
    # Calculate the weighted mean using 'minutes' as weights within the groupby operation
    weighted_mean = dfs['players_teams_df'].groupby(['year', 'tmID', 'playoff'])[col].apply(lambda x: np.average(x, weights=dfs['players_teams_df'].loc[x.index, 'Usability'])).reset_index(name=col + '_weighted_mean')

    # Merge the weighted mean into teams_df2
    teams_df2 = teams_df2.merge(weighted_mean, on=['year', 'tmID', 'playoff'], how='left')

# Save the DataFrame to CSV
dfs['teams_df'] = teams_df2.copy()
teams_df2.to_csv('../prep_data/teams_df2.csv', index=False)

teams_df2.head()

,year,confID,rank,playoff,firstRound,semis,finals,o_fgm,o_fga,o_ftm,...,FT%_weighted_mean,award_weighted_mean,Avg_Points_Per_Game_weighted_mean,Avg_Rebounds_Per_Game_weighted_mean,Avg_Assists_Per_Game_weighted_mean,Avg_Blocks_Per_Game_weighted_mean,Avg_Steals_Per_Game_weighted_mean,Avg_Turnovers_Per_Game_weighted_mean,Usability_weighted_mean,POSITION_METRIC_weighted_mean
0,9,0,0.857,0,0.0,0.0,0.0,0.516,0.695,0.624,...,0.734591,0.000000,7.717803,3.393223,1.456787,0.511342,0.951833,1.604680,0.524892,0.356415
1,10,0,0.143,1,0.5,0.0,0.0,0.919,0.923,0.704,...,0.753088,0.088624,9.376422,3.978338,1.906555,0.369946,1.090560,1.882291,0.542637,0.395083
2,1,0,1.000,0,0.0,0.0,0.0,0.343,0.219,0.293,...,0.758900,0.000000,8.580613,3.275276,2.187623,0.313490,0.847908,1.752052,0.594658,0.348043
3,2,0,0.429,1,1.0,1.0,0.5,0.206,0.054,0.230,...,0.768829,0.000000,9.566175,4.137999,2.382889,0.497407,1.033775,2.172068,0.604674,0.346098
4,3,0,0.143,1,0.5,0.0,0.0,0.256,0.067,0.469,...,0.709775,0.000000,8.810387,3.575515,2.069356,0.368810,0.955604,1.483340,0.597039,0.316975

In [31]:
# #do similarly but now instead of the average of each player's performance, calculate the sum of the 3 best players' performance
# teams_df4 = dfs['teams_df'].copy()
# for col in players_teams_df:
#     col_type = players_teams_df[col].dtype
#     if col_type == 'float64' or col_type == 'int64' and col not in {'year', 'tmID', 'lgID', 'playerID', 'firstseason', 'lastseason', 'playoff', 'num_seasons', 'stint', 'GP', 'threeMade', 'dq', 'PostBlocks', 'PostthreeMade', 'PostDQ'}:
#         # Group by ['year', 'tmID', 'playoff'], sum the 3 largest values for each group
#         grouped = players_teams_df.groupby(['year', 'tmID', 'playoff'])[col].apply(lambda x: x.nlargest(3).sum())
        
#         # Rename the grouped column to indicate it represents the sum of the 3 best players' performance
#         col_name_sum = f'{col}_sum_top3'
#         grouped = grouped.reset_index().rename(columns={col: col_name_sum})
        
#         # Merge the sum into teams_df4 with a specified suffix
#         teams_df4 = pd.merge(teams_df4, grouped, on=['year', 'tmID', 'playoff'], how='left', suffixes=('', f'_{col_name_sum}'))

# # dfs['teams_df'] = teams_df4.copy()
# # teams_df4.to_csv('../prep_data/teams_df4.csv', index=False)
# teams_df4.head()

In [32]:
# Number of trophies won by players on each team
teams_df3 = dfs['teams_df'].copy()

# Filter players_teams_df to include only rows where 'won_award' is 1
players_teams_df = dfs['players_teams_df'][dfs['players_teams_df']['award'] == 1]

# Group by tmID and year and count the number of awards per team
team_trophies_count = players_teams_df.groupby(['tmID', 'year']).size().reset_index(name='num_trophies')

# Merge with teams_df3
teams_df3 = teams_df3.merge(team_trophies_count, on=['tmID', 'year'], how='left')

# Replace NaN values with 0
teams_df3['num_trophies'] = teams_df3['num_trophies'].fillna(0)

# Update dfs['teams_df'] and save to csv
dfs['teams_df'] = teams_df3.copy()
teams_df3.to_csv('../prep_data/prepared_dataset.csv', index=False)

teams_df3.head()

,year,confID,rank,playoff,firstRound,semis,finals,o_fgm,o_fga,o_ftm,...,award_weighted_mean,Avg_Points_Per_Game_weighted_mean,Avg_Rebounds_Per_Game_weighted_mean,Avg_Assists_Per_Game_weighted_mean,Avg_Blocks_Per_Game_weighted_mean,Avg_Steals_Per_Game_weighted_mean,Avg_Turnovers_Per_Game_weighted_mean,Usability_weighted_mean,POSITION_METRIC_weighted_mean,num_trophies
0,9,0,0.857,0,0.0,0.0,0.0,0.516,0.695,0.624,...,0.000000,7.717803,3.393223,1.456787,0.511342,0.951833,1.604680,0.524892,0.356415,0.0
1,10,0,0.143,1,0.5,0.0,0.0,0.919,0.923,0.704,...,0.088624,9.376422,3.978338,1.906555,0.369946,1.090560,1.882291,0.542637,0.395083,1.0
2,1,0,1.000,0,0.0,0.0,0.0,0.343,0.219,0.293,...,0.000000,8.580613,3.275276,2.187623,0.313490,0.847908,1.752052,0.594658,0.348043,0.0
3,2,0,0.429,1,1.0,1.0,0.5,0.206,0.054,0.230,...,0.000000,9.566175,4.137999,2.382889,0.497407,1.033775,2.172068,0.604674,0.346098,0.0
4,3,0,0.143,1,0.5,0.0,0.0,0.256,0.067,0.469,...,0.000000,8.810387,3.575515,2.069356,0.368810,0.955604,1.483340,0.597039,0.316975,0.0

Retrieve data from competition year before going to modeling

In [33]:
schema = config["db_11_schema"]

SELECT = "SELECT * FROM " + schema + "." # + table_name 
coaches = fetch(SELECT + "coaches") # all coaches who've managed the teams during the time period,
players_teams = fetch(SELECT + "players_teams") # performance of each player for each team they played,
teams = fetch(SELECT + "teams") # performance of the teams for each season,

players_teams_11_df = pd.DataFrame(players_teams, columns=['playerID', 'year', 'stint', 'tmID', 'lgID'])
teams_11_df = pd.DataFrame(teams, columns=['year', 'lgID', 'tmID', 'franchID', 'confID', 'name', 'arena', 'playoff'])
coaches_11_df = pd.DataFrame(coaches, columns=['coachID', 'year', 'tmID', 'lgID', 'stint'])

In [34]:
teams_11_df.columns

Index(['year', 'lgID', 'tmID', 'franchID', 'confID', 'name', 'arena',
       'playoff'],
      dtype='object')

In [35]:
binary_columns = ['confID', 'playoff']

for col in binary_columns:
    teams_11_df[col] = teams_11_df[col].replace('EA', 0)
    teams_11_df[col] = teams_11_df[col].replace('WE', 1)
    teams_11_df[col] = teams_11_df[col].replace('N', 0)
    teams_11_df[col] = teams_11_df[col].replace('Y',1)

franchise_mapping(teams_11_df, {'teams': teams_11_df, 'players_teams': players_teams_11_df, 'coaches':coaches_11_df})

players_teams_11_df = players_teams_11_df.reindex(columns=dfs["players_teams_df"].columns)
dfs["players_teams_df"] = pd.concat([dfs["players_teams_df"], players_teams_11_df])

teams_11_df = teams_11_df.reindex(columns=dfs["teams_df"].columns)
dfs["teams_df"] = pd.concat([dfs["teams_df"], teams_11_df])

coaches_11_df = coaches_11_df.reindex(columns=dfs["coaches_df"].columns)
dfs["coaches_df"] = pd.concat([dfs["coaches_df"], coaches_11_df])

{'SEA': 'SEA', 'WAS': 'WAS', 'LAS': 'LAS', 'MIN': 'MIN', 'PHO': 'PHO', 'SAS': 'SAS', 'TUL': 'DET', 'ATL': 'ATL', 'CHI': 'CHI', 'CON': 'CON', 'IND': 'IND', 'NYL': 'NYL'}

In [36]:
dfs["teams_df"].columns

Index(['year', 'confID', 'rank', 'playoff', 'firstRound', 'semis', 'finals',
       'o_fgm', 'o_fga', 'o_ftm', 'o_fta', 'o_3pm', 'o_3pa', 'o_oreb',
       'o_dreb', 'o_reb', 'o_asts', 'o_pf', 'o_stl', 'o_to', 'o_blk', 'o_pts',
       'd_fgm', 'd_fga', 'd_ftm', 'd_fta', 'd_3pm', 'd_3pa', 'd_oreb',
       'd_dreb', 'd_reb', 'd_asts', 'd_pf', 'd_stl', 'd_to', 'd_blk', 'd_pts',
       'GP', 'min', 'attend', 'win_percentage', 'loss_percentage',
       'home_win_percentage', 'home_loss_percentage', 'away_win_percentage',
       'away_loss_percentage', 'conference_win_percentage',
       'conference_loss_percentage', 'tmID', 'W_post', 'L_post',
       'GS_weighted_mean', 'minutes_weighted_mean', 'points_weighted_mean',
       'oRebounds_weighted_mean', 'dRebounds_weighted_mean',
       'rebounds_weighted_mean', 'assists_weighted_mean',
       'steals_weighted_mean', 'blocks_weighted_mean',
       'turnovers_weighted_mean', 'PF_weighted_mean',
       'fgAttempted_weighted_mean', 'fgMade_weighted_mean',
       'ftAttempted_weighted_mean', 'ftMade_weighted_mean',
       'threeAttempted_weighted_mean', 'total_points_weighted_mean',
       'total_rebounds_weighted_mean', 'total_assists_weighted_mean',
       'total_blocks_weighted_mean', 'total_steals_weighted_mean',
       'total_turnovers_weighted_mean', 'FG%_weighted_mean',
       'FT%_weighted_mean', 'award_weighted_mean',
       'Avg_Points_Per_Game_weighted_mean',
       'Avg_Rebounds_Per_Game_weighted_mean',
       'Avg_Assists_Per_Game_weighted_mean',
       'Avg_Blocks_Per_Game_weighted_mean',
       'Avg_Steals_Per_Game_weighted_mean',
       'Avg_Turnovers_Per_Game_weighted_mean', 'Usability_weighted_mean',
       'POSITION_METRIC_weighted_mean', 'num_trophies'],
      dtype='object')

In [37]:
test_year = 11
num_previous_years = test_year - 1  # Number of previous years to consider
pd.set_option('display.max_columns', None)

def weighted_mean(arr):
    num_years = len(arr)
    weights = np.arange(1, num_years + 1 ) * 1.0 / 10
    return np.sum(arr * weights) / np.sum(weights)

def weighted_average(arr, weights):
    if len(arr) != len(weights):
        raise ValueError("Array and weights must have the same length")
    return np.sum(arr * weights) / np.sum(weights)

for i in range(1, num_previous_years + 1):

    # Sort the players_teams DataFrame by player ID and season
    players_teams_sorted = dfs["players_teams_df"].sort_values(by=['playerID', 'year'], ascending=True)
    # players_teams_sorted.to_csv('../prep_data/rolling_window/debug.csv', index=False)

    numeric_columns = players_teams_sorted.select_dtypes(include='number').columns.difference(['year', 'stint', 'playoff'])

    for col in numeric_columns:
        players_teams_sorted[col] = (
            players_teams_sorted.groupby('playerID')[col]
            .rolling(window=i, min_periods=1, closed='left')
            .apply(weighted_mean, raw=False)
            .reset_index(0, drop=True)
        )

    # Group by 'teamId' and 'year' and aggregate the cumulative statistics (Weighted average by time of play of previous years)
    team_players_year_stats = (
        players_teams_sorted.groupby(['tmID', 'year'])
        .apply(lambda x: pd.Series({
            col: weighted_average(x[col], x['Usability']) for col in numeric_columns
        })).reset_index()
    )

    # Apply the same to team stats
    teams_sorted = dfs["teams_df"].sort_values(by=['tmID', 'year'], ascending=True)
    teams_sorted = teams_sorted.drop(columns=['total_blocks_weighted_mean',
       'FG%_weighted_mean', 'FT%_weighted_mean',
       'Avg_Rebounds_Per_Game_weighted_mean',
       'Usability_weighted_mean', 'POSITION_METRIC_weighted_mean'])

    numeric_columns = teams_sorted.select_dtypes(include='number').columns.difference(['year', 'confID', 'playoff'])

    for col in numeric_columns:
        teams_sorted[col] = (
            teams_sorted.groupby('tmID')[col]
            .rolling(window=i, min_periods=1, closed='left')
            .apply(weighted_mean, raw=False)
            .reset_index(0, drop=True)
        )

    # If first appearance of team on wnba, fill the stats with the average of the other rows
    # Calculate the mean of each numeric column
    average_numeric = teams_sorted.select_dtypes(include=np.number).mean()

    # Fill NaN values in numeric columns with their means
    teams_sorted.loc[:, teams_sorted.dtypes == np.number] = teams_sorted.loc[:, teams_sorted.dtypes == np.number].fillna(average_numeric)


    df = teams_sorted.merge(team_players_year_stats, on=['tmID', 'year'], how='left', suffixes=('', f'_{i}'))

    df = df[df['year'] != 1]
    df = df.round(2)

    df.to_csv('../prep_data/rolling_window/data_with_' + str(i) + '_years_in_the_past.csv', index=False)

In [ ]:
connection.close()